/* Include SGr fonts */
@font-face {
    font-family: source-sans-pro-light;
    src: url(/xsl/SourceSansPro-Light.otf)
}

@font-face {
    font-family: source-sans-pro;
    src: url(/xsl/SourceSansPro-Regular.otf)
}

/* Document background */
* {
    box-sizing: border-box;
}

body {
    font-family: source-sans-pro-light, sans-serif;
    font-size: 16px;
    width: 900px;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
}

.document {
    background-color: white;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 3em;
    padding-bottom: 1em;
}

/* Standard headers */
h1 {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.55em;
    font-weight: bold;
    margin-bottom: 1.5em
}

h2 {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.44em;
    margin-bottom: 0.2em;
    margin-top: 2em;
}

h3 {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.0em;
    margin-bottom: 0.2em;
    margin-top: 1em;
}

h4 {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.0em;
    margin: 0em;
}

/* Table with solid black grid lines */
table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.0em;
}

th {
    padding: 0.3em;
    text-align: left;
    border: 1px solid black;
}

td {
    padding: 0.3em;
    border: 1px solid black;
    vertical-align: text-top;
}

td.noborder {
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    padding-top:0.3em;
}

td.fpHeader {
    border: none;
    padding: 0;
    padding-bottom:1em;
}

td.modbusattribute {
    background-image: url(/xsl/ressources/modbus.png);
    background-repeat: no-repeat;
    background-size: 60px 19px;
    background-position: 5px 5px;
    padding-left: 70px;
}

td.restapiattribute {
    background-image: url(/xsl/ressources/rest.png);
    background-repeat: no-repeat;
    background-size: 60px 12px;
    background-position: 5px 10px;
    padding-left: 70px;
}

td.contactapiattribute {
    background-image: url(/xsl/ressources/contacts.png);
    background-repeat: no-repeat;
    background-size: 40px 22px;
    background-position: 5px 2px;
    padding-left: 50px;
}
td.genericattribute {
    background-image: url(/xsl/ressources/genattr.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 5px 5px;
    padding-left: 25px;
}

div.navigation {
    padding: 0.5em;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: darkgrey;
}

/* Navigation box (not visisble on print) */
div.navigation>div {
    padding: 0.1em;
}

@media print {
    div.navigation {
        display: none;
    }

    tr {
        page-break-inside: avoid;
    }
    
    div.documentfooter {
        position: fixed;
        width: 772px;
        bottom: 0;
    }
}

/* Multi language selectors */
body.en :lang(de) {
    display: none;
}

body.en :lang(fr) {
    display: none;
}

body.en :lang(it) {
    display: none;
}

body.de :lang(en) {
    display: none;
}

body.de :lang(fr) {
    display: none;
}

body.de :lang(it) {
    display: none;
}

body.fr :lang(en) {
    display: none;
}

body.fr :lang(de) {
    display: none;
}

body.fr :lang(it) {
    display: none;
}

body.it :lang(en) {
    display: none;
}

body.it :lang(de) {
    display: none;
}

body.it :lang(fr) {
    display: none;
}

body.none :lang(en) {
    display: none;
}

body.none :lang(de) {
    display: none;
}

body.none :lang(fr) {
    display: none;
}

body.none :lang(it) {
    display: none;
}

/* Document sections */

.documentheader { 
    background-image: url(https://smartgridready.ch/media/images/Logos/SGR_LOGO_REDESIGN_RGB.svg);
    background-repeat: no-repeat;
    height: 134px;
    text-align:right;
}
.documentfooter {
    margin-top: 6em;
    border-top: 1px solid black;
    padding-top: 0.3em;
    font-size: 0.9em;
}

/* .externalInterface { } */
/* .genericDetails {} */
/* .ontologyDetails {} */
/* .functionalProfile { } */
.dataPoint {
    margin-top: 2em;
}

/* .dataPointDetails { } */