
body {
    /*font-family: sourcesanspro-black;*/
    color: #1d1d1b;
}

.wy-side-nav-search {
    background: #F5F5F5;
    color: #1d1d1b;
}

.wy-side-nav-search .wy-dropdown>a,.wy-side-nav-search>a {
    color: #133C7D;
}

.wy-menu-vertical header,.wy-menu-vertical p.caption {
    color: #4CC28F;
}

h1 {
    text-transform: uppercase;
    color: #133C7D;
}

h2 {
    color: #133C7D;
}

.wy-breadcrumbs a {
    color: #133C7D;

}

.wy-breadcrumbs a:hover {
    color: #4CC28F;
}

.wy-breadcrumbs a:visited {
    color: #4CC28F;
}

/*a {
    color: #4CC28F;

}

a:hover {
    color: #133C7D;
}

a:visited {
    color: #4CC28F;
}*/